.player,
.player-fs {
    background-image: url('http://localhost:3000/offline.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1080px;
    min-height: 640px;
    width: 1080px;
    height: 640px;
    display: flex;
    align-items: flex-end;
}

.player-fs {
    width: 100%;
    height: 100%;
}