.wrapper {
    margin: 25px 0;
    display: block;
}

.input,
.label {
    display: block;
    font-size: 15px;
    margin: auto;
    color: white;
}

.label {
    margin-bottom: 10px;
}

.input {
    padding: 7px;
    background-color: #292929;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
}